spring:
  application:
    name: ongi

  profiles:
    default: dev

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: debug

jwt:
  secret: ${JWT_SECRET:b25naS1zZXJ2ZXItand0LXNlY3JldC1rZXktZm9yLWRldmVsb3BtZW50LWVudmlyb25tZW50}
  expiration: 86400000